@model List<WebSite.Models.ConfigurationListViewModel>

@{
    ViewData["Title"] = "Configurations";
}
<h2>Configurations</h2>

<p>
    <a asp-action="Add">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Type</th>
            <th>Value</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var conf in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => conf.ConfigurationType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => conf.Value)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@conf.Id">Edit</a>
                    <a asp-action="Delete" asp-route-id="@conf.Id">| Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>